<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.chen.service"/>

    <bean id="indexServiceImpl" class="com.chen.service.IndexServiceImpl">
        <property name="forumsMapper" ref="forumsMapper"/>
        <property name="indexMapper" ref="indexMapper"/>
    </bean>

    <bean id="userServiceImpl" class="com.chen.service.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <bean id="topicServiceImpl" class="com.chen.service.TopicServiceImpl">
        <property name="topicMapper" ref="topicMapper"/>
        <property name="threadsMapper" ref="threadsMapper"/>
    </bean>

    <bean id="threadsServiceImpl" class="com.chen.service.ThreadsServiceImpl">
        <property name="threadsMapper" ref="threadsMapper"/>
        <property name="topicMapper" ref="topicMapper"/>
    </bean>

    <bean id="adminServiceImpl" class="com.chen.service.AdminServiceImpl">
        <property name="forumsMapper" ref="forumsMapper"/>
        <property name="topicMapper" ref="topicMapper"/>
        <property name="threadsMapper" ref="threadsMapper"/>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource" />
    </bean>
</beans>