.notify-container {
    position: fixed;
    display: flex;
    padding: 60px 20px;
    align-items: flex-end;
    flex-direction: column;
    width: 100vw;
    z-index: 11;
    pointer-events: none;
    transition: all .5s;
    height: 100vh
}

.notify-container .notify {
    background-color: rgba(15, 15, 15, .6);
    border-right: 7px solid rgba(0, 0, 0, .4);
    transition: all .5s;
    color: #fff;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
    margin-bottom: 15px;
    padding: 13px 15px;
    min-height: 72px
}

.notify-container .notify .notify-title {
    font-size: 1.5rem
}

.notify-container .notify .notify-content {
    margin-top: 5px;
    color: #eee;
    font-size: .85rem
}

@keyframes notify-show-hide {
    0% {
        opacity: 0;
        transform: translate(100vw, 0);
        margin-bottom: 15px
    }
    30% {
        opacity: 1;
        transform: translate(0, 0);
        margin-bottom: 15px
    }
}